/* index.html css code */
.home {
    text-align: center;
    font-family: Georgia, serif;
    color: black;
}
.home body {
    background-color: beige;/*#580808*/
}
.home img {
    border-radius: 20px;
    
}
a div.icon {
    height:250px;
    width:250px;
    border-radius: 15px;
    margin: 15px;
    display: inline-block;
}
a div.icon:hover {
    border: 4px solid #98E0CE;
    transform: scale(1.05);
    transition: all ease;
}
.home.text-box {
    background-color: #ffffffa1;
    height: 20px;
    width: auto;
    position: relative;
    display: inline;
    padding: 5px;
    border-radius: 10px;
}
.home.peppers.icon {
    background-image: url(img/icon-stuffed-peppers.jpg);
}
.home.meat-sauce.icon {
    background-image: url(img/icon-pasta-meat-sauce.jpg);
}
.home.rice.icon {
    background-image: url(img/icon-fried-rice.jpg);
}
.home a {
    color: black;
    font-weight: bold;
    font-size: 15px;
    vertical-align: middle;
    line-height: 250px;
    width: 250px;
}
.home.white-box {
    width:50%;
    background-color: beige;/*#ffca4b*/
    margin: 0 auto;
    padding: 10px;
}


/* stuffed peppers page css */
body.peppers-page {
    background-image: linear-gradient(
        #00000099,
        #00000099
    ),
    url(img/stuffed-peppers.jpg);
    background-size: cover;
    color: white;
}
.peppers-page.list, 
.peppers-page.description,
.peppers-page.steps {
    font-size: 18px;
    line-height: 1.5;
}
.peppers-page.home-button {
    background-color: #50f87d;
    text-decoration: none;
    color: white;
}